/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default styles */
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #ccc;
  background-color: #030016;
}

a {
  color: #ccc;
}

h1, h2, h3 {
  color: #e0e0e0;
}

/* Homepage */
#homepage-header {
  text-align: center;
}

#recipes-pages {
  padding-left: 0;
  list-style-type: none;
}

#recipes-pages li {
  margin: 5px 0;
}

#odin-logo {
  width: 48px;
  height: 48px;
  border-radius: 25%;
}

/* Recipe */
.btn-back {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #270018;
}

#recipe-description,
#recipe-ingredients li,
#recipe-steps li {
  max-width: 420px;
  margin: 10px 0;
}